# Dependencies
node_modules

# Production
.next
out

# Env files
.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editors
.DS_Store
.vscode/
*.swp

.vercel
.env*.local
